{% extends 'base.html' %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}

{% block content %}

		<!-- Services -->
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-6 col-sm-6">
	        			<div class="service-wrapper">
		        			<a href="#"><img src="{% static 'img/service-icon/box.png' %}" alt="Service 3">
		        			<h3>Produtos</h3></a>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        		</div>
	        		</div>
	        		<div class="col-md-6 col-sm-6">
	        			<div class="service-wrapper">
		        			<a href="#"><img src="{% static 'img/service-icon/ruler.png' %}" alt="Service 2">
		        			<h3>Prestadores de Serviço</h3></a>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->

{% endblock %}
