{% extends 'base.html' %}
{% load static %}
{% block menu_produtos %}active{% endblock %}
{% block content %}

       <div class="section">
	        <div class="container">
                <!-- Título da categoria -->
                <h2>Categoria de Produtos</h2>
	        	<div class="row">
					{% for categoria in categorias %}
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <a href="/lista_produtos/{{categoria.id}}">
							<i class="{{categoria.nm_icone}}"></i>
		        			<h3>{{categoria.nm_categoria}}</h3>
							</a>
	        			</div>
	        		</div>
	        	    {% endfor %}
					<!--
					<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-mobile-alt fa-3x"></i>
		        			<h3>Celulares</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                        <i class="fas fa-gift fa-3x"></i>		        			
                        <h3>Brinquedos</h3>
	        			</div>
	        		</div>    
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="fas fa-tshirt fa-3x"></i>
		        			<h3>Vestuário</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                        <i class="fas fa-utensils fa-3x"></i>		        			
                        <h3>Alimentação</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                        <i class="fas fa-gem fa-3x"></i>	
                        <h3>Acessórios</h3>
	        			</div>
	        		</div> -->
	        	</div>
	        </div>
	    </div>

{% endblock %}
