{% extends 'base.html' %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}

{% block content %}

       <div class="section">
	        <div class="container">
                <!-- Título da categoria -->
                <h2>Categoria de Serviços</h2>
	        	<div class="row">
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <a href="/lista_servicos/">
                            <i class="fas fa-tools fa-3x"></i>
		        			<h3>Reformas e Reparos</h3>
							</a>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-satellite-dish fa-3x"></i>
		        			<h3>Assistência Técnica</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-broom fa-3x"></i>
		        			<h3>Serviços Domésticos</h3>
	        			</div>
	        		</div>    
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-image fa-3x"></i>
		        			<h3>Design e Tecnologia</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-graduation-cap fa-3x"></i>
		        			<h3>Aulas e Treinamentos</h3>
	        			</div>
	        		</div>
	        		<div class="col-md-2 col-sm-6">
	        			<div class="service-wrapper">
                            <i class="fas fa-glass-cheers fa-3x"></i>
		        			<h3>Eventos e Festas</h3>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>

{% endblock %}
