{% extends 'base.html' %}
{% load static %}
{% block menu_servicos %}active{% endblock %}
{% block content %}

	<div class="section">
		<div class="container">
			<!-- Título da categoria -->
			<h2>Categoria de Serviços</h2>
			<div class="row">
				{% for categoria in categorias %}
				<div class="col-md-2 col-sm-6">
					<div class="service-wrapper">
						<a href="/lista_servicos/{{categoria.id}}">
						<i class="{{categoria.nm_icone}}"></i>
						<h3>{{categoria.nm_categoria}}</h3>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
	    </div>
	</div>

{% endblock %}
